/*relatif a tout le body*/
* {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
/*navbar, contenant entier*/
nav {
  display: inline;
  display: flex;
  align-items: center;
  text-decoration: solid;
  padding: 5px;
  margin-bottom: 50px;
  height: 50px;
}
/*logo du navbar*/
nav > img {
  margin-left: 500px;
}
/*navbar, contenant pour les boutons*/
.navbarbtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 20px;
  list-style-type: none;
}
/*style des boutons du navbar*/
.btn {
  margin: 50px;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.btn:hover {
  color: grey;
}

.btn:active {
  color: white;
  background-color: black;
  border-radius: 20px;
}
/*style des titres*/
.titres {
  font-size: 30px;
}
/*presentation de l'architecte, photo + texte*/
.presentation {
  height: max-content;
  display: grid;
  grid-template-columns: 25% 25%;
  column-gap: 50px;
  align-items: center;
}
/*pour le texte de la présentation */
.presentation p {
  text-align: justify;
}
hr {
  border-color: black;
}
/*style des noms des projets de la partie présentation*/
.nomprojet {
  text-decoration: underline 20px rgb(248, 245, 245);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}
/*contenant projet: texte + image*/
.project {
  height: max-content;
  display: grid;
  grid-template-columns: 50% 25%;
  align-self: flex-end;
  column-gap: 50px;
  justify-items: end;
}
/*partie more projects*/


/* éléments de la 1er ligne du tableau*/
th {
  font-size: 20px;
  text-align: center;
  background-color: rgb(248, 245, 245);
}
/*date de création du projet, dans tableau*/
.date {
  text-align: center;
  font-weight: bolder;
}

/*défini toutes les vidéos youtube*/
iframe {
  border: none;
}

/*contenant de la vidéo*/
.video {
  display: flex;
  justify-content: center;
}

/*formulaire*/
form {
  width: 500px;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  color: grey;
}
/*contenant fleche + texte back to top*/
.backtotop {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*texte back to top*/
.lientop:hover {
  color: grey;
}

.lientop {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: small;
}
/*partie footer*/
footer {
  background-color: rgb(248, 245, 245);
  margin-top: 20px;
  padding: 2px;
  text-align: center;
  p {
    color: grey;
  }
}
